<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4" jhiTranslate="home.title"></h1>

    <p class="lead" jhiTranslate="home.subtitle"></p>

    <div [ngSwitch]="isAuthenticated()">
      <div class="alert alert-warning" *ngSwitchCase="false">
        <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.login.link">sign in</a>
      </div>
      <div class="alert alert-warning" *ngSwitchCase="false">
        <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
      </div>
      <ngb-alert type="success" class="alert-dismissible" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
          >You are logged in as user "{{ account.login }}".</span
        >
      </ngb-alert>

      <div class="jh-card" *ngSwitchCase="true">
        <ul class="btn-group-vertical">
          <li>
            <button class="btn btn-lg" routerLink="contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <span>Contacts</span>
            </button>
          </li>
          <li>
            <a class="btn btn-lg" routerLink="persona" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <span jhiTranslate="global.menu.entities.persona">Persona</span>
            </a>
          </li>
          <li>
            <a class="btn btn-lg" routerLink="contact-category" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <span jhiTranslate="global.menu.entities.contactCategory">Contact Category</span>
            </a>
          </li>
          <li>
            <a class="btn btn-lg" routerLink="sales-rep" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <span jhiTranslate="global.menu.entities.salesRep">Sales Rep</span>
            </a>
          </li>
          <li>
            <a class="btn btn-lg" routerLink="company" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <span jhiTranslate="global.menu.entities.company">Company</span>
            </a>
          </li>
          <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
        </ul>
      </div>
      <div class="btn-link"></div>
    </div>
  </div>
</div>
